*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
  background-color: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
}
.container{
    width: 30vw;
    min-height: 20px;
    background-color: rgb(243, 243, 243);
    padding: 10px 20px;
    
}
.input-parent{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    row-gap: 1px;
}
/* .single{
    width: 80%;
} */
.container h2{
    text-align: center;
}
.horizonatl-inputs{
    display: flex;
    justify-content: space-between;
}
.horizonatl-inputs div{
    display: flex;
    flex-direction: column;
    width: 40%;
}